name: Docker Image CI

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    env:
      AWS_ACCOUNT_ID: 754784422779
      AWS_REGION: us-east-1
      AWS_GHA_ARN: arn:aws:iam::754784422779:role/chalk-private-github-actions
      AWS_API_SERVER_ARN: arn:aws:iam::754784422779:role/chalk-api-server

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2.1.3
        with:
          workload_identity_provider: 'projects/800169929024/locations/global/workloadIdentityPools/github-actions/providers/github'
          service_account: 'chalk-benchmark-github-actions@chalk-ci-testing.iam.gserviceaccount.com'

      - name: Configure Docker to use the gcloud command-line tool as a credential helper
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_GHA_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      # Need to role chain to role that has GetAuthorizationToken
      - name: Assume chained role for ECR access
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_API_SERVER_ARN }}
          aws-region: ${{ env.AWS_REGION }}
          role-chaining: true
          role-skip-session-tagging: true

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com

      - name: Build and push Docker image
        run: |
          docker buildx build --platform linux/amd64 --push \
            -t us-central1-docker.pkg.dev/chalk-infra/public-images/chalk-benchmark:latest \
            -t ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/chalk-benchmark:latest \
            .